doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Art Club HKUSU

        link(rel='icon', type='image/x-icon', href='assets/logo.png')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/events-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 Events
                            span.subheading Events and functions of 2021-2022
        
        include includes/posts-data.pug

        - var postCount = 0

        main.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .timeline
                        each post in posts
                            if post.eventDate
                                - postCount = postCount + 1
                                if postCount % 2 == 0
                                    .timeline-container.left
                                        a(href=post.link+'.html')
                                            .timeline-content.outlined
                                                h2 #{post.title}
                                                if post.subtitle
                                                    p #{post.subtitle}
                                                p #{post.eventDate}
                                
                                if postCount % 2 != 0
                                    .timeline-container.right
                                        a(href=post.link+'.html')
                                            .timeline-content.outlined
                                                h2 #{post.title}
                                                if post.subtitle
                                                    p #{post.subtitle}
                                                p #{post.eventDate}


        include includes/footer.pug

        include includes/scripts.pug
