doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Art Club HKUSU

        link(rel='icon', type='image/x-icon', href='assets/logo.png')
        include includes/analytics.pug
        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/index-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .site-heading
                            h1 Art Club HKUSU
                            span.subheading 香港大學學生會美術學會
        
        include includes/posts-data.pug

        // Main Content
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        h3 News & Upcoming Events
                        hr.my-4
                        
            .row.gx-4.gx-lg-5.justify-content-center
                .col-md-10.col-lg-8.col-xl-7

                    each post in posts
                        // Post preview
                        .post-preview
                            a(href=post.link+'.html')
                                h2.post-title
                                    | #{post.title}
                                if post.subtitle
                                    h3.post-subtitle
                                        | #{post.subtitle}
                            p.post-meta
                                | Posted on #{post.date}
                    
                        // Divider
                        hr.my-4

                    //- // Pager
                    //- .d-flex.justify-content-end.mb-4
                    //-     a.btn.btn-primary.text-uppercase(href='#!') Older Posts →
        
        include includes/footer.pug

        include includes/scripts.pug
